<h1>Editing Your Wish</h1>

<%= render 'form' %>

<div class="buttons">
  <%= link_to 'Show', @wish, class: 'button secondary' %> 
  <%= link_to 'Back', wishes_path, class: 'button secondary' %>
</div>
